:root {
    --cream: hsl(30, 38%, 92%);
    --dark-cyan: hsl(158, 36%, 37%);
    --dark-gray-blue: hsl(228, 12%, 48%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--cream);
}

main {
    display: flex;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.card {
    background-color: var(--white);
    display: grid;
}

.sr-only {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}